# Python Einf√ºhrung
Python kennenlernen

In [2]:
print ("Hallo zusammen")

Hallo zusammen

## Kommentare

In [3]:
# Dies ist ein Kommentar
print ("Irgendetwas")

Irgendetwas

## Einfache Datentypen

In [4]:
# Variablen und Wertezuweisung
name = "Lovelace"
print(name)

Lovelace

In [5]:
# Strings - Zeichenketten
first_name = "Ada"
print(first_name)

Ada

In [6]:
# Integer - Ganzzahlen
age = 37
print(age)

37

In [7]:
#Floats - Gleitkommazahlen
size = 1.7123

In [8]:
# Boolsche Werte
knows_math = True
likes_gardening = False
print (likes_gardening)
print (knows_math)

False
True

In [9]:
type (name)

str

In [10]:
name

'Lovelace'

In [11]:
name
age

37

In [12]:
print(name)
print(age)

Lovelace
37

In [13]:
print(name, age)

Lovelace 37

In [14]:
name = "Lovelace"
age = 37
size = 1.7123

## Operatoren

In [15]:
5 + 5

10

In [16]:
age * 100

3700

In [17]:
name + name

'LovelaceLovelace'

In [18]:
name + 0

TypeError: can only concatenate str (not "int") to str

In [19]:
name + "10"

'Lovelace10'

In [20]:
size / age

0.04627837837837838

number_of_articles = "50"

In [22]:
int(number_of_articles) / 10

NameError: name 'number_of_articles' is not defined

In [23]:
number_of_articles = "50"

In [24]:
int(number_of_articles) / 10

5.0

In [25]:
type (number_of_artciles)

NameError: name 'number_of_artciles' is not defined

## Funktionen und Methoden

In [26]:
len(name)

8

In [27]:
name.upper()

'LOVELACE'

In [28]:
name.count("e")

2

In [30]:
name.replace("lace" , " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [1]:
names = ["Lovelace", "Darwin", "Noether", "Hawking"]

In [2]:
names[0]

'Lovelace'

In [3]:
names[1]

'Darwin'

In [4]:
names[2]

'Noether'

In [5]:
names[-1]

'Hawking'

In [6]:
names[0:3]

['Lovelace', 'Darwin', 'Noether']

In [7]:
print(names)

['Lovelace', 'Darwin', 'Noether', 'Hawking']

In [9]:
authors_and_birth_years = {"Lovelace": 1815, 
                           "Darwin" : 1805}

In [10]:
authors_and_birth_years["Darwin"]

1805

## For-Schleife / For-Loops

In [13]:
for person in names:
    print(person + " did awesome stuff.")
    print ("**********")

Lovelace did awesome stuff.
**********
Darwin did awesome stuff.
**********
Noether did awesome stuff.
**********
Hawking did awesome stuff.
**********